<nav class="navbar is-dark">
    <div class="navbar-brand">
        <div class="navbar-item">
            <img src="assets/img/banner-ico.png" alt="spotify logo">
            <span class="is-size-5 ml-1">Spotiapp</span>
        </div>
        <a role="button" class="navbar-burger" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu has-background-dark">
        <div class="navbar-start">
            <a routerLink="home" routerLinkActive="active" class="navbar-item">
                Home
            </a>
            <a routerLink="search" routerLinkActive="active" class="navbar-item">
                Search
            </a>
        </div>
    </div>
</nav>